2025/10/XeXgu2HeN4kkHPmx.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Scrape",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Map",
            "type": "main",
            "index": 0
          },
          {
            "node": "Crawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Crawl Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T20:05:29.710Z",
  "id": "XeXgu2HeN4kkHPmx",
  "isArchived": false,
  "meta": null,
  "name": "Firecrawl Self-host",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        928
      ],
      "id": "87197324-4e25-4a2d-bf36-4c630815c65f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://firecrawl.themonizes.com/v2/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"url\": \"https://www.firecrawl.dev/\",\n    \"onlyMainContent\": true,\n    \"maxAge\": 172800000,\n    \"parsers\": [\n        \"pdf\"\n    ],\n    \"formats\": [\n        \"markdown\"\n    ]\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        96
      ],
      "id": "8fdea748-c78e-4d60-8717-d19829aeb2ac",
      "name": "Scrape"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://[YOUR SERVER IP]:3002/v2/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"query\": \"Top restaurants in Vancouver, BC\",\n    \"sources\": [\n        \"web\"\n    ],\n    \"categories\": [],\n    \"limit\": 10,\n    \"scrapeOptions\": {\n        \"onlyMainContent\": true,\n        \"maxAge\": 172800000,\n        \"parsers\": [\n            \"pdf\"\n        ],\n        \"formats\": []\n      }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        928
      ],
      "id": "0ca84c05-1a1e-4434-b5af-cc6d10719529",
      "name": "Search"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://[YOUR SERVER IP]:3002/v2/map",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"url\": \"firecrawl.dev\",\n    \"sitemap\": \"include\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        512
      ],
      "id": "03fcd17b-2b39-495e-8bb5-d55b8418cb73",
      "name": "Map"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://[YOUR SERVER IP]:3002/v2/crawl",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"url\": \"www.firecrawl.dev\",\n    \"sitemap\": \"include\",\n    \"crawlEntireDomain\": false,\n    \"limit\": 10,\n    \"scrapeOptions\": {\n        \"onlyMainContent\": true,\n        \"maxAge\": 172800000,\n        \"parsers\": [\n            \"pdf\"\n        ],\n        \"formats\": [\n            \"markdown\"\n        ]\n      }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        1344
      ],
      "id": "2ecb100c-442c-4ac4-9b01-918537298d82",
      "name": "Crawl"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://[YOUR SERVER IP]:3002/v1/extract",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"urls\": [\n        \"https://firecrawl.dev/pricing\"\n    ],\n    \"prompt\": \"Extract the pricing plans offered by Firecrawl, including the plan name, price, and features.\",\n    \"schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n            \"pricing_plans\": {\n                \"type\": \"array\",\n                \"items\": {\n                    \"type\": \"object\",\n                    \"properties\": {\n                        \"plan_name\": {\n                            \"type\": \"string\"\n                          },\n                        \"price\": {\n                            \"type\": \"string\"\n                        },\n                        \"features\": {\n                            \"type\": \"array\",\n                            \"items\": {\n                                \"type\": \"string\"\n                            }\n                        }\n                    },\n                    \"required\": [\n                        \"plan_name\",\n                        \"price\"\n                    ]\n                }\n            }\n        },\n        \"required\": [\n            \"pricing_plans\"\n        ]\n    },\n    \"enableWebSearch\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        1760
      ],
      "id": "61a9af1d-739a-4878-95c8-cad903fce672",
      "name": "Extract"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        1344
      ],
      "id": "fd03a575-ffad-4c5e-9fc5-35e626b4193e",
      "name": "Wait",
      "webhookId": "1f122a94-9076-442d-b94e-2956c65c0017"
    },
    {
      "parameters": {
        "content": "                Scrape\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nGet llm-ready data from websites. Markdown, JSON, etc.",
        "height": 332,
        "width": 316,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "895aa0cd-b915-40e3-9100-a69e6b4c7bd8",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "                  Map\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearch the web and get full content from results.",
        "height": 332,
        "width": 316,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        416
      ],
      "typeVersion": 1,
      "id": "df71dffc-ce71-4dc0-ae4f-5ab930e9300d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "               Scrape\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearch the web and get full content from results.",
        "height": 332,
        "width": 316,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        832
      ],
      "typeVersion": 1,
      "id": "6bcf5d53-2194-4359-8c4a-27dc651685c7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "                                      Crawl\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSearch the web and get full content from results.",
        "height": 332,
        "width": 700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1248
      ],
      "typeVersion": 1,
      "id": "8002be3d-516b-491f-a5b6-9a8849bc04ce",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "=http://[YOUR SERVER IP]:3002/v2/crawl/{{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        1344
      ],
      "id": "ad2d66b2-708d-4751-958a-2a2983b4b12b",
      "name": "Get Crawl Dataset"
    },
    {
      "parameters": {
        "content": "               Scrape\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nGet structured data from websites with AI. *Requires OpenAI API Key.",
        "height": 332,
        "width": 316,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1664
      ],
      "typeVersion": 1,
      "id": "b59ffe46-46b1-43ba-aa06-8a1d1e5c4008",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "repo_name": "n8n_workflows",
  "repo_owner": "dmoniz22",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-06T20:05:29.717Z",
      "updatedAt": "2025-10-06T20:05:29.717Z",
      "role": "workflow:owner",
      "workflowId": "XeXgu2HeN4kkHPmx",
      "projectId": "WI0IP68OjrENkbwD"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-06T20:04:09.100Z",
      "updatedAt": "2025-10-06T20:04:09.100Z",
      "id": "xwIyGsuHhGnjt4Ul",
      "name": "Youtube"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-06T20:05:29.710Z",
  "versionId": "6eac356b-f5a7-43f2-b11f-4b3706f78a16"
}