2025/09/8Sh2ezGUl6fNT7bO.json
{
  "active": false,
  "connections": {
    "Groq AI": {
      "main": [
        [
          {
            "node": "Post to X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Groq AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Topic": {
      "main": [
        [
          {
            "node": "Build Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Query": {
      "main": [
        [
          {
            "node": "Google Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Config": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-03T16:36:54.430Z",
  "id": "8Sh2ezGUl6fNT7bO",
  "isArchived": true,
  "meta": {
    "templateId": "4971",
    "templateCredsSetupCompleted": true
  },
  "name": "Automated Breaking News Headlines with LLaMA3, Google Search and X Posting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5,
              "triggerAtMinute": "={{Math.floor(Math.random() * 60)}}\n"
            }
          ]
        }
      },
      "id": "62da7cc5-ea1d-47a0-b626-3ed6fb18e761",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        368,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {}
      },
      "id": "eb57a9d0-e0de-4d3d-adcf-d19e28a7e92e",
      "name": "Post to X",
      "type": "n8n-nodes-base.twitter",
      "position": [
        2640,
        240
      ],
      "typeVersion": 2,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "gKTdjIhnC4YjvxC8",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3-70b-8192\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a social media assistant. Your task is to write a short, news-style headline for a given article title and link. Use exactly this format: <headline> <link>. Be objective and precise. Max 200 characters total.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Function').item.json.prompt.replace(/\\n/g, '\\\\n') }}\"\n}\n  ],\n  \"temperature\": 0.7,\n  \"top_p\": 0.95,\n  \"max_tokens\": 200,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 0.4\n}",
        "options": {}
      },
      "id": "765d5be9-5b2c-445b-bf3d-0242d293276f",
      "name": "Groq AI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2176,
        240
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/customsearch/v1?key={{ $json.google_api_key }}&cx={{ $json.google_cx }}?q{{ $node[\"Build Query\"].json[\"query\"] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "31a5bd1c-7fc1-4de8-9c9f-d345d6fede6f",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1600,
        240
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const results = item.json.items || [];\n  if (results.length === 0) {\n    throw new Error(\"No search results found\");\n  }\n\n  const top = results[0];\n  item.json.headline = top.title;\n  item.json.url = top.link;\n  item.json.articleTitle = top.title;\n  item.json.articleURL = top.link;\n  item.json.prompt = `Write a short, objective headline (max 120 characters) for the following article, and append 1–2 relevant hashtags. Format: <headline> <link> <hashtags>. Title: ${top.title} Link: ${top.link}`;\n\n\n  return item;\n});\n"
      },
      "id": "7fa6e3e8-1ebb-45c3-8f3b-d3a8df4ae6e4",
      "name": "Function",
      "type": "n8n-nodes-base.code",
      "position": [
        1920,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7d18eb2-7e33-4a4b-8c8b-4eccf2fbcbb3",
              "name": "google_api_key",
              "type": "string",
              "value": "REPLACE_WITH_YOUR_KEY"
            },
            {
              "id": "d59607c2-f942-4f78-968a-42ad57b62eed",
              "name": "google_cx",
              "type": "string",
              "value": "REPLACE_WITH_YOUR_CX"
            }
          ]
        },
        "options": {}
      },
      "id": "8c093688-de7a-4af7-a053-0e029c910e6f",
      "name": "Google Config",
      "type": "n8n-nodes-base.set",
      "position": [
        1312,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7399b2d-4e42-4ea4-8eed-0fa9fe6b1fcf",
              "name": "topic",
              "type": "string",
              "value": "politics"
            }
          ]
        },
        "options": {}
      },
      "id": "542a21f1-78d2-4799-a922-bea3f9fa192b",
      "name": "Set Topic",
      "type": "n8n-nodes-base.set",
      "position": [
        752,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f4dec98-f070-47e3-9935-e99c60fd4cdf",
              "name": "query",
              "type": "string",
              "value": "={{ \"latest \" + $node[\"Set Topic\"].json[\"topic\"] + \" news\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1da710ec-770b-4c6c-b0ad-33af5f58d6d5",
      "name": "Build Query",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        240
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "repo_name": "n8n_workflows",
  "repo_owner": "dmoniz22",
  "settings": {},
  "shared": [
    {
      "createdAt": "2025-09-03T16:36:54.436Z",
      "updatedAt": "2025-09-03T16:36:54.436Z",
      "role": "workflow:owner",
      "workflowId": "8Sh2ezGUl6fNT7bO",
      "projectId": "WI0IP68OjrENkbwD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-28T18:10:55.000Z",
  "versionId": "45c6cdcd-b5e9-4f36-9928-05c06c12fd92"
}