2025/09/pz6A9lU6UPi53feP.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-03T18:32:54.899Z",
  "id": "pz6A9lU6UPi53feP",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "GDrive to GMail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1_4UlO9c1qu7NEpq8GpLUH74tFTI7WGHn",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -192
      ],
      "id": "c74c260c-2116-4d74-9eb5-8ce8a1f85123",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2xp7sbRtwpXU3Q9q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1_4UlO9c1qu7NEpq8GpLUH74tFTI7WGHn",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        -192
      ],
      "id": "dd5f41ed-e1b1-4080-8011-635b622eba4b",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2xp7sbRtwpXU3Q9q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        -192
      ],
      "id": "318f996d-2d08-4777-bad0-c1459aad7d64",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2xp7sbRtwpXU3Q9q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dmoniz22@gmail.com",
        "subject": "Google Drive FIle",
        "message": "See attached document",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ $json.output }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        576,
        -80
      ],
      "id": "21bb0682-eb9e-4168-906a-412f3777eeef",
      "name": "Send a message",
      "webhookId": "f89ea47d-0380-47b6-b588-35312d8f72e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "vNvWEJRKomIgfIF5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $binary.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Generate a clear, concise, and professional summary of the document provided. The tone should be polished and credible, yet warm and easy to read—like a skilled colleague explaining key points in a friendly, accessible way. Avoid jargon, technical language, or overly complex sentences. Make the summary engaging and understandable for a general adult audience, regardless of their background or expertise. Highlight the main purpose, key points, and any important conclusions or actions. Keep the length to no more than 500 words, unless otherwise specified. Ensure the summary flows naturally and invites the reader to grasp the essence of the document quickly and confidently."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        -272
      ],
      "id": "8eedf04d-c4b3-4f36-ad4d-84f1648171bb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        96,
        -32
      ],
      "id": "0b44f518-f913-49bc-ad0c-b8c92f95da23",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "3QVkIOnbHJ33glWP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        -16
      ],
      "id": "dae9de1c-6468-4071-99fe-45bf4c7955a1",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "repo_name": "n8n_workflows",
  "repo_owner": "dmoniz22",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-03T18:32:54.902Z",
      "updatedAt": "2025-09-03T18:32:54.902Z",
      "role": "workflow:owner",
      "workflowId": "pz6A9lU6UPi53feP",
      "projectId": "WI0IP68OjrENkbwD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-28T18:10:29.000Z",
  "versionId": "e343f10f-9ae2-4529-8a54-2a4114039f94"
}